/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Custom font */
@font-face {
  font-family: Grotesk;
  src: url("./space-grotesk.ttf") format("truetype");
  font-display: swap;
}

:root {
  --main-color: #283949;
  --bg-color: #eeefd1;
}

body {
  /* apply custom font */
  font-family: Grotesk;

  /* container styles */
  max-width: 600px;
  margin: auto;
  padding: 16px;

  /* color theme */
  background-color: var(--bg-color);
  color: var(--main-color);

  /* make the body flex */
  display: flex;
  flex-direction: column;
}

.navbar a {
  color: currentColor;
  text-decoration: none;
}
.navbar a.home {
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  gap: 24px;
  align-items: baseline;
  flex-direction: rows;
}

hr {
  width: 100%;
  border: 1px solid var(--main-color);
}

div.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 16px;
}

footer {
  text-align: center;
}

code {
  font-weight: 500;
  padding: 4px 8px;
  background: var(--main-color);
  border-radius: 6px;
  color: var(--bg-color);
  opacity: 0.5;
}
a > code {
  text-decoration: underline;
}

ul.blog-list {
  padding-inline-start: 0px;
}
a.card {
  text-decoration: none;
  color: inherit;
}
.card h2 {
  margin-top: 0px;
}
li.card {
  padding: 16px;
  margin-bottom: 16px;
  list-style-type: none;
  list-style-position: outside;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  /* allow to position the article-type in absolute */
  position: relative;
}
li.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
  /* to make the image more transparent and blend it with the rest */
  opacity: 80%;
  /* subtle movement  */
  transform: translateY(-3px) scale(1.02);
}
li.card {
  transition: all 250ms ease-in-out;
}

.article-type {
  position: absolute;
  top: 16px;
  right: 16px;
}

.blog-topic {
  font-size: 0.9rem;
  font-style: italic;
  opacity: 0.6;
}

.direct-link {
  visibility: hidden;
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
}

h1:hover .direct-link,
h2:hover .direct-link,
h3:hover .direct-link,
h4:hover .direct-link {
  visibility: unset;
}

img {
  border-radius: 8px;
}
