---
layout: layout
eleventyExcludeFromCollections: true
---

<h1>Hello, je suis spaenleh</h1>
<span>Bienvenue sur mon blog </span>

<ul class="blog-list">
  {% for post in collections.all reversed %}
  <a class="card" href="{{ post.url }}">
    <li class="card">
      <div>
        <h2>{{ post.data.title }}</h2>
        {{ post.data.date | displayDate : locale }} {% for topic in
        post.data.topics %}
        <span class="blog-topic">#{{ topic }}</span>
        {% endfor %}
        <p>{{ post.data.description }}</p>
      </div>
      <div class="article-type">
        {% for tag in post.data.tags %} {% if tag == 'recette' %}
        <span>🍴</span>
        {% endif %}{% if tag == 'blog' %}
        <span>💻</span>
        {% endif %} {% endfor %}
      </div>
    </li>
  </a>
  {% endfor %}
</ul>
