---
layout: collection.njk
eleventyExcludeFromCollections: true
title: Recettes
description: Mes recettes
---

<ul class="blog-list">
  {% for collection in collections.recette reversed %}

  <a class="card" href="{{collection.page.url}}">
    <li class="card recette">
      <div>
        <h2>{{collection.data.title}}</h2>
        <span> {{ collection.data.date | displayDate : locale }} </span>
        {% if collection.data.thumbnail %}
        <img class="recette-thumb" src="{{collection.data.thumbnail}}" />
        {% endif %}
        <p>{{collection.data.description}}</p>
      </div>
    </li>
  </a>

  {% endfor %}
</ul>
